<div class="IconsMain">
   <div class="imageIcons">
      <button class="button" matTooltip="remind me">
         <mat-icon>
            <img id="image1" src="../../../assets/reminder.png">
         </mat-icon>
      </button>
      <button class="button" matTooltip="Collaborator">
         <mat-icon>
            <img id="image1" src="../../../assets/collaborator.png">
         </mat-icon>
      </button>
      <button class="button" matTooltip="Background">
         <mat-icon [matMenuTriggerFor]="color">
            <img id="image1" src="../../../assets/color.png">
         </mat-icon>
      </button>
      <mat-menu  #color="matMenu"  >
         <div fxLayoutGap="6px" fxLayout ="row" *ngFor="let colors of colorsList">
            <div  *ngFor="let color of colors" class="color1" fxLayout="row" fxLayoutAlign="center center"  >
               <button  (click)="changeColor(color)" [ngStyle]= "{ 'background-color': color }" mat-mini-fab></button>
            </div>
         </div>
         
      </mat-menu>
      <button class="button" matTooltip="Add Image">
         <mat-icon>
            <img id="image1" src="../../../assets/image.png">
         </mat-icon>
      </button>
      <button (click)="archiveNotes()" class="button" matTooltip="Archive">
         <mat-icon>
            <img id="image1" src="../../../assets/archive.png">
         </mat-icon>
      </button>
      <mat-icon [matMenuTriggerFor]="menu">
         <img matTooltip="More" id="image1" src="../../../assets/more.png">
      </mat-icon>
      <mat-menu #menu="matMenu">
         <button (click)="trashNotes()" mat-menu-item>Delete note</button>
      </mat-menu>
   </div>
</div>