<div class="main">
    <form class="main1" [formGroup]="registerForm" (ngSubmit)="forgetPassword()">

        <div class="mainContent">
            <div class="title">
                <span style="color: blue;">F</span>
                <span style="color: red;">u</span>
                <span style="color: yellow;">n</span>
                <span style="color: blue;">d</span>
                <span style="color: green;">o</span>
                <span style="color: red;">o</span>
            </div>
            <h1>Retrive Your Password</h1>
            <h3 class="description">by entering your email Id</h3>
            <div class="email">
                <mat-form-field appearance="outline" id="email">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" formControlName="email">
                    <mat-error>Enter your email</mat-error>
                </mat-form-field>
            </div>
            <div class="LastRow">
                <button routerLink="/login" class="signin" mat-button color="primary">Sign In Instead</button>
                <button class="forgetpass" mat-raised-button color="primary">Next</button>
            </div>
        </div>
    </form>
</div>